development:
  adapter: postgresql
  encoding: unicode
  database: rails_training_development
  pool: 5
  username: carl
  password:

test:
  adapter: postgresql
  encoding: unicode
  database: rails_training_test
  pool: 5
  username: carl
  password:
